/* img {
    width: 50%;
    margin: 1em;
} */

header {
    background-color: lightblue;
}

body {
    background-color: aqua;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 1em;
 }

 .portfolio > div {
    border-style: solid;
    padding: 0.5em;
 }

 /* Extra small and small devices (phones, 768px and down) */
 @media only screen and (max-width: 768px) {
    li {
        display: block;
        border-style: solid;
        text-align: center;
    }

    li:hover, a:hover {
        background-color: blue;
        color: white;
    }

    img {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }

    #about > div {
        border-style: solid;
        margin: 0.5em;
        padding: 0.5em;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    li {
        display: inline;
    }

    ul {
        text-align: right;
        border-style: solid;
    }

    #about {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #about > div {
        width: 23em;
        margin: 1em;
        padding: 0.5em;
        border-style: dashed;
    }

    img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

 }
 
 /* Large and Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    li {
        display: inline;
    }
 } 

